APT::Periodic::Enable "{{ '1' if host.allow_automatic_security_updates else '0' }}";
APT::Periodic::Update-Package-Lists "{{ '1' if host.allow_automatic_security_updates else '0' }}";
APT::Periodic::Unattended-Upgrade "{{ '1' if host.allow_automatic_security_updates else '0' }}";